<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<script src="/static/js/app.js"></script>
		<link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body ng-app="myApp">
        <script type="text/javascript">
            function changeText(text) {
                document.getElementById('pText').innerHTML=text;

            }
        </script>
        <div>
        <h1>{{ sentence }}</h1>
        <img src="http://pixel.nymag.com/imgs/daily/vulture/2016/08/11/11-obama-sex-playlist.w529.h529.jpg">
        </div>
        <input type="button" value="Generate a new sentence" onClick="window.location.reload()"> 

    </body>
</html>
